<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="product.dao.productDao">
	<resultMap type="takeout" id="rs1">
		<id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
		<result column="quantity" property="quantity" />
		<result column="outDate" property="outDate" />
		<result column="handlerr" property="handlerr" />
		<result column="productId" property="productId" />
	</resultMap>



<!-- if标签运算出来的结果，会被强制加入一个空格符 -->
<!-- Alt键+?键，可以弹出提示菜单 -->


<insert id="add">
	insert into takeout values (null,#{to.quantity},now(),#{to.handlerr},#{to.productId})
</insert>
	
</mapper>